<div id="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>

  <p class="date">
    <%=t :submitted %><%= time_ago_in_words(@post.created_at) %><%=t :ago %>
    <% if user_signed_in? %>
      | <%= t("edit_html", href: link_to(t("edit"), edit_post_path(@post))) %>
      | <%= t("delete_html", href: link_to(t("delete"), post_path(@post),
        method: :delete, data: {confirm: 'Are U sure'})) %>
    <% end %>

  </p>

  <%= simple_format(@post.body) %>

  <div id="comments">
    <h2><%= t("comments_html", count: @post.comments.count) %></h2>
    <%= render @post.comments %>

    <h3><%=t :add_a_comment %></h3>
    <div id="form">
      <%= render 'comments/form' %>
  </div>
  </div>
</div>

<% if url_for(:back) + "/comments" == request.base_url.to_s + url_for %>
  <script type"text/javascript">
    document.location.hash="#form"
  </script>
<% end %>
