<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%#
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
      <%= image_tag "logo.svg" %>
      <% end %>
    </div>

    <ul>
      <li class="category"><%=t :website %></li>
      <li><%= link_to "Blog", root_path %></li>
      <li><%= t("about_html", href: link_to(t("about"), about_path)) %></li>
    </ul>

    <ul>
      <li class="category"><%=t :social %></li>
      <li><a href="https://facebook.com/kpietkaa">Facebook</a></li>
      <li><a href="https://instagram.com/kpietkaa">Instagram</a></li>
      <li><a href="https://github.com/kpietkaa">Github</a></li>
      <li><a href="mailto:kpietkaa@gmail.com">Email</a></li>
    </ul>
    <% if !user_signed_in? %>
      <p class="sign_in"><%= link_to "Admin", user_session_path %></p>
    <% end %>
  </div>

  <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
        <p><%=t :all_posts %></p>
      <% elsif current_page?(about_path) %>
        <p><%=t :about %><p>
      <% else %>
        <p><%= t("back_to_all_posts_html", href: link_to(t("back_to_all_posts"), root_path)) %></p>
      <% end %>
      <% if user_signed_in? %>
        <div class="buttons">
          <button class="button"><%= t("new_post_html", href: link_to(t("new_post"),
            new_post_path)) %></button>
          <button class="button"><%= t("log_out_html", href: link_to(t("log_out"),
            destroy_user_session_path, method: :delete)) %></button>
        </div>
      <% end %>

    </div>

    <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>

  </div>



</body>
</html>
